{% extends "templates/post.html" %}
{% block post %}

<a href="http://itunes.apple.com/us/app/word-lens/id383463868">Word Lens</a> is an iPhone app that lets you translate in real time using your iPhone's camera. The idea seemed excellent, and the youtube video was extremely convincing.

<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/h2OfQdYrHRs?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/h2OfQdYrHRs?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>

<h2>Cost</h2>
You can visit the app store and download the app for free. However, in a similar fashion to <a href="http://www.rememberthemilk.com/services/iphone/">Remember the Milk</a> task manager, the app itself serves only as an empty shell. You have to purchase the translation libraries, currently at $4.99 each. 

<h2>Ease of Use</h2>
Word Lens is easily the most intuitive app you'll find. Once you open up Word Lens, the iPhone camera takes hold of the screen. Simply hold the camera up to text that you wish to translate. Since the translator works in real time, it requires you to hold the phone extremely steady. The slightest movement can cause words to change. 

When you feel you have the camera steady, you can press the Pause button, and it takes a temporary snapshot of the words you translated.
<img src="http://assets.vertstudios.com/blog/images/word-lens/img6.jpg" alt="Word Lens iPhone App" />

<h2>Effectiveness</h2>
Now to the good part. In order to test the app out for myself, I simply did a Google search for <a href="http://www.google.com/images?q=spanish+signs&um=1&ie=UTF-8&source=og&sa=N&hl=en&tab=wi&biw=1920&bih=1085">Spanish Signs</a> and ran a few experiments. 

<p style="margin-top: 10px;">
<img src="http://assets.vertstudios.com/blog/images/word-lens/schoolsign-spanish.jpg" alt="Spanish Sign" />
<img src="http://assets.vertstudios.com/blog/images/word-lens/img1.jpg" alt="Word Lens iPhone App Translation" />
</p>

<p style="margin-top: 10px;">
<img src="http://assets.vertstudios.com/blog/images/word-lens/spanish_lrg_please_wash.jpg" alt="Spanish Sign" />
<img src="http://assets.vertstudios.com/blog/images/word-lens/img2.jpg" alt="Word Lens iPhone App Translation" />
</p>

<p style="margin-top: 10px;">
<img src="http://assets.vertstudios.com/blog/images/word-lens/G2376.png" alt="Spanish Sign" />
<img src="http://assets.vertstudios.com/blog/images/word-lens/img3.jpg" alt="Word Lens iPhone App Translation" />
</p>

<p style="margin-top: 10px;">
<img src="http://assets.vertstudios.com/blog/images/word-lens/Parking-By-Permit-Only-Sign-K-2341.gif" alt="Spanish Sign" />
<img src="http://assets.vertstudios.com/blog/images/word-lens/img4.jpg" alt="Word Lens iPhone App Translation" />
</p>

While the grammar is not perfect and random words can appear, it's still understandable. A tourist who knows no Spanish can use Word Lens to make their navigation much less stressful. This app will be particularly useful in regards to public signs. Word Lens should be given the benefit of the doubt in these tests due to refresh rate discrepancies with my monitor. 

It's important to note that Word Lens is not very accurate when it comes to picking up handwriting, but Word Lens discloses this when you first open the app. 
<img src="http://assets.vertstudios.com/blog/images/word-lens/img5.jpg" alt="Word Lens iPhone App" />

<h2>Final Thoughts</h2>
I'm thoroughly convinced this app will only get better with time. For $4.99, you can get the Spanish to English translation dictionary for Word Lens. This app will have many practical uses. It's definitely worth the investment.
{% endblock post %}

