{% extends "templates/post.html" %}
{% block post %}

Social Media is a beast yet to be fully understood. The simple explanation is that people have yet to be fully understood, and social media is simply using internet platforms to connect with people. While many companies attempt to quantify behavioral trends, generally only basic conclusions can be drawn from even the most extensive experiments. Today, I'm going to put down the clipboard, put away the calculator, and tell you something that you've known all along.

<h2>If you've gone through puberty, you can do social media</h2>
That's right. If you ever went through that period of teenage angst in your life known as puberty and survived, you have the skills necessary to run a social media campaign. All you need to do is apply the lessons you learned in your teenage years to your marketing strategy. 
<blockquote>
"If you ever went through that period of teenage angst in your life known as puberty and survived, you have the skills necessary to run a social media campaign."
</blockquote>

<h2>It's all a popularity contest</h2>
There exists one question that comes plowing through the mind of every teenager at least once in their lives: "Why don't people like me?". This question and other derivations simply boil down to the question "How can I be more popular?" It's easy to got lost in the buzzwords of <a href="http://www.vertstudios.com/blog/web-design-dictionary/#roi">ROI</a>, impressions, leads, etc. But remember, social media is simply about maximizing your popularity with people that matter. 
<blockquote>
"...social media is simply about maximizing your popularity with people that matter."
</blockquote>

<h3>Similar Experiences, Similar Questions</h3>
The questions we ask ourselves as businesses are not any more complex than the questions we asked ourselves as young adults. Additionally, the situations we experience in the business world take place in High Schools every day. The table below demonstrates a few of these.  
<table>
<tr><th>As a Teenager</th><th>As a Business</th></tr>
<tr><td>Asking a girl/guy to a dance</td><td>Pitching to a prospective client</td></tr>
<tr><td>Being the "best friend" of the girl you like</td><td>Giving free advice to a prospect in hopes they will later reciprocate with a paying project</td></tr>
<tr><td>Jealousy of the Quarterback/Cheer Captain</td><td>Jealousy of an industry-leading competitor</td></tr>
<tr><td>"How can I get more people to like me?"</td><td>"How can I get more Twitter followers?"</td></tr>
<tr><td>"No one understands me"</td><td>"No one gets why our product is better"</td></tr>
</table>

There are many more parallels you can draw. The point is, our business problems usually aren't that complex. 
<blockquote>
"The questions we ask ourselves as businesses are not any more complex than the questions we asked ourselves as young adults."
</blockquote>

<h3>How to be Popular</h3>
Since we've established that being popular in the business world is not much different than being popular in High School, why not see what the articles geared towards people seeking popularity have to say? 
From <a href="http://www.wikihow.com/Be-Popular">WikiHow</a>:
<ul>
<li>Be willing to step out of your comfort zone</li>
<li>Be friendly</li>
<li>Stop thinking about yourself</li>
<li>Give a helping hand</li>
<li>Be yourself</li>
<li>Don't try too hard</li>
<li>Dress like you mean it</li>
<li>Be confident</li>
</ul>

We can see that all these ideas applying to personal popularity apply to social media.
<table>
<tr><th>Popularity</th><th>Social Media</th></tr>
<tr><td>Be willing to step out of your comfort zone</td><td>Be willing to talk to people you don't know. You have to be the one to strike up the conversation!</td></tr>
<tr><td>Be friendly</td><td>Use social media to send positive vibes concerning your business. Be nice to the people you want attention from</td></tr>
<tr><td>Stop thinking about yourself</td><td>It's not about you, it's about them. All your status updates, tweets, etc, should provide value to the followers</td></tr>
<tr><td>Give a helping hand</td><td>If a follower on your stream has an issue you can help with, being the first one to provide useful advice will speak volumes about your company</td></tr>
<tr><td>Be yourself</td><td>Don't be who you think people want you to be. Be yourself. If you attract people that think you're something you're not, everyone will be disappointed in the end</td></tr>
<tr><td>Don't try too hard</td><td>Earning attention and begging for attention are completely different things. Don't appear desperate; appear engaged in the conversation</td></tr>
<tr><td>Dress like you mean it</td><td>Make your product sharp! If you're using social media as a means to get traffic to your website, make sure it looks good. (<a href="http://www.vertstudios.com/work.php">We can help you with that ;)</a>)
<tr><td>Be confident</td><td>If you aren't confident in your product, why should anyone else be?</td></tr>
</table>

<h3>Other articles on being popular</h3>
I encourage you to take a small break from social media blogs and focus on the fundamentals: How do you become popular? As silly as it sounds, you'll find some great quotes to apply to your business. For example, 
<blockquote>
"People say 'Don't change and just be yourself,' and this is true, but be your best self. Take it one step at a time, and build your confidence."
</blockquote>

Free Resources:
<ul>
<li><a href="http://www.wikihow.com/Be-a-Popular-Girl">How to be a popular girl</a></li>
<li><a href="http://www.ehow.com/how_2222320_become-popular-five-days.html">How to become popular in 5 days</a></li>
<li><a href="http://www.mahalo.com/how-to-become-popular">How to become popular</a></li>
</ul>
{% endblock post %}

