{% extends "layout.html" %}
{% block body %}
{% include "templates/includes/blog_sidebar.html" %}
<div id="blogPost">
  {% set first = True %}
  {% for post in posts %}
    <div class="post">
    {% if first %}
      {% set first = False %}
      <h1><a href="{{post['url']}}">{{post['title']}}</a></h1>
    {% else %}
      <h2><a href="{{post['url']}}">{{post['title']}}</a></h2>
    {% endif %}
    <p>{{post['description']|safe}}</p>
    {{post['pubDate']}} | 
    <a href="{{post['url']}}">Read the full article &rArr;</a>
    </div>
  {% endfor %}
  <div id="nextPrev">
    <p>
    {% if prevPage %}
      <a href="/blog/page/{{prevPage}}">&laquo; Older Articles</a> 
    {% endif %}
    {% if prevPage and nextPage %}
      &#8212;
    {% endif%}
    {% if nextPage %}
    <a href="/blog/page/{{nextPage}}">Newer Articles &raquo;</a> 
    {% endif %}
    </p>
  </div>
</div>
{% endblock body %}
