

  
    <div class="post_snippet first">
    
  

  <h4><a href="http://www.vertstudios.com/blog/markdown-pdf-utility">Markdown to PDF Utility</a> - 05/03/2012</h4>
  <p>I needed to get a Markdown document in PDF format. Unable to find a good solution, I set...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/markdown-pdf-utility#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/ubuntu-screencast-software-11-04">Ubuntu Screencast Software for 11.04+</a> - 04/25/2012</h4>
  <p>I browsed Google for quite a while before I finally found a good product for recording...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/ubuntu-screencast-software-11-04#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/vi-keybindings-shell">VI Keybindings in your Shell</a> - 04/25/2012</h4>
  <p>There was once a very sad point in my development career where if I made a typo earlier...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/vi-keybindings-shell#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/introduction-recursion-part-2">Introduction to Recursion - Part 2</a> - 04/16/2012</h4>
  <p>Part two of the Introduction to Recursion series! In this video, we discuss the Factorial...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/introduction-recursion-part-2#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/jquery-table-sort-plugin-stupidly-simple-jquery-table-sort">jQuery Table Sort Plugin | Stupidly simple jQuery table sort</a> - 04/13/2012</h4>
  <p>I needed a simple jQuery plugin to let me sort table columns. Unfortunately, I couldn&#39;t...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/jquery-table-sort-plugin-stupidly-simple-jquery-table-sort#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/git-workflow-crap-committed-master">Git Workflow: Crap, I committed to master!</a> - 04/12/2012</h4>
  <p>So you know you should pretty much never hack directly on master when working with git....</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/git-workflow-crap-committed-master#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/c-request-member-structure-union">C: request for member in something not a structure or union</a> - 04/03/2012</h4>
  <p>If you&#39;re trying to pass a pointer to a structure to a function, you may be getting the...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/c-request-member-structure-union#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/introduction-recursion-part-1">Introduction to Recursion - Part 1</a> - 03/31/2012</h4>
  <p>Part 1 of a multipart series covering the basics of...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/introduction-recursion-part-1#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/kr-error-conflicting-types-getline">K&amp;R: Error: conflicting types for &#39;getline&#39;</a> - 03/10/2012</h4>
  <p>So you&#39;re reading through K&amp;R&#39;s The C Programming Language, and you&#39;re on page 29 or so,...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/kr-error-conflicting-types-getline#comments">View Comments</a></p>
  </div>                                

  
    <div class="post_snippet">
  

  <h4><a href="http://www.vertstudios.com/blog/dual-monitors-kubuntu-11-10-in-10-minutes">Dual Monitors on Kubuntu 11.10 (In Under 10 Minutes)</a> - 03/03/2012</h4>
  <p>If you&#39;re having trouble getting dual monitors to work on the latest version of Kubuntu...</p>
  <p class="read_more"><a href="">Read More </a>|
  <a href="http://www.vertstudios.com/blog/dual-monitors-kubuntu-11-10-in-10-minutes#comments">View Comments</a></p>
  </div>                                
