{% from "macros" import blog_img %}
{% extends "layout.html" %}
{% block body %}
{% include "templates/includes/blog_sidebar.html" %}
<div id="blogPost">
  <div class="post">
    <h1><a href="{{post['url']}}">{{post['title']}}</a></h1>
    {% block post %}
    {% endblock post %}
    {{ post['date'] }}
  </div>

  {% if post['related'] %}
  <div id="related">
    <h2>Related Articles</h2>
    <ul>
      {% for postTitle,postURL in post['related'] %}
        <li><a href={{postURL}}>{{postTitle}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div id="author_bio">
    <h5>About the Author:</h5>
    <p>
      <img 
      alt='' 
      src='http://www.gravatar.com/avatar/8d98b3ee0f14a8d7c5e0ab3486a5cc05?s=75' 
      class='avatar avatar-96 photo' />
      Joseph is the lead developer of Vert Studios, and is currently 
      <a href="{{url_for('contact_page.contact')}}">accepting work</a>!
      
      Follow Joseph on Twitter: 
      <a href="http://twitter.com/joe_query">@Joe_Query</a><br />
      Subscribe to the blog: <a href="{{url_for('blog.rss_feed')}}">RSS</a>
    <p>
  </div>
</div><!--blogpost-->
{% endblock body %}
