{% extends "layout.html" %}
{% block body %}
<div id="blogPost">
  <div class="post">
    {% block post %}
    {% endblock post %}
  </div>
<div id="author_bio">
  <h5>About the Author:</h5>
  <p>
    <img 
    alt='' 
    src='http://www.gravatar.com/avatar/8d98b3ee0f14a8d7c5e0ab3486a5cc05?s=75' 
    class='avatar avatar-96 photo' />
    Joseph is the lead developer of Vert Studios, a 
    web design company located in Tyler, Tx. Follow Joseph on Twitter: 
    <a href="http://twitter.com/joe_query">@Joe_Query</a> 
  <p>
</div>
</div>
{% endblock body %}
