{% autoescape false %}<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:wfw="http://wellformedweb.org/CommentAPI/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
  >

<channel>
<title>Vert Studios - Programming Blog</title>
<atom:link href="http://www.vertstudios.com/blog/feed/" rel="self" type="application/rss+xml"/>
<link>http://www.vertstudios.com/blog</link>
<description>Programming tutorials and screencasts geared towards the 
beginner-intermediate programmer.</description>
<lastBuildDate>{{lastBuild}}</lastBuildDate>
<language>en</language>

{% for post in posts %}
<item>
  <title>{{post['title']}}</title>
  <link>{{post['url']}}</link>
  <pubDate>{{post['pubDate']}}</pubDate>
  <description>{{post['description']}}</description>
  <content:encoded>{{post['body']}}</content:encoded>
</item>
{% endfor %}
</channel>
</rss>

{% endautoescape %}
