{% extends "templates/post.html" %}
{% block post %}

According to <a href="http://www.smashingmagazine.com/2011/03/21/dear-web-design-community-where-have-you-gone/">Smashing Magazine</a>, the sky is falling. <a href="http://www.smashingmagazine.com/2010/04/08/opinion-column-the-sad-state-of-the-web-design-community/">Again</a>. The web design community has heeled over, and is down for the count. Who's to blame? The people making a living doing what they love, of course. 

<blockquote>"The worrying part is that the number of the less experienced active contributors has increased exponentially. Due to that, I am afraid that the community is not led in the right direction. The true leaders &#8212; professional, knowledgeable designers and coders &#8212; are busy. Busy with their work or perhaps they feel that it&#8217;s no longer worthwhile for them to spend much time contributing."</blockquote>
(Read the full Smashing Magazine article <a href="http://www.smashingmagazine.com/2011/03/21/dear-web-design-community-where-have-you-gone/">here</a>)

Smashing,  this post will let you know exactly where the web design community has gone. 

<h2>Time Spent Writing is Time Spent Not Designing</h2>
Blogging about design and commenting on articles about design is, in fact, not designing. Unless you're Smashing magazine or Nettuts, blogging about design doesn't pay for groceries, kid's soccer camp, or utilities. 

But the author of the article isn't asking for much time. He's only asking for 10-15 minutes a day.
<blockquote>"Perhaps we could all dedicate 10 to 15 minutes of our time to the community every day. We could (and should) make this a firm personal commitment and encourage each other to take part."</blockquote>

Well that doesn't sound too bad. But what does Smashing Magazine want us to accomplish in these 10 to 15 minutes a day?
<ul>
<li>ask "lengthy questions" and provide "detailed answers"</li>
<li>have "in-depth discussions with hundreds of meaningful, engaged comments"</li>
<li>engage in "vivid debates spreading from one site to another"</li>
<li>to "read more than 5&#8211;7 design pieces a day"</li>
<li>create longer blog posts and comments</li>
<li>not click away and ignore a discussion</li>
<li>think about what exactly "design" is</li>
<li>study "lessons from the past"</li>
</ul>

And a hell of a lot more. The average adult can read between 250-300 <a href="http://www.education.com/definition/words-per-minute-wpm/">words per minute</a>. This Smashing article in particular has about 12,000 words between the post and the comments. It would take the average adult 40 minutes to pour over one Smashing Magazine article. 

Anyone who's ever used <a href="http://www.stackoverflow.com">StackOverflow</a> or answered questions on forums like <a href="http://www.webdeveloper.com">WebDeveloper</a> knows how long Q&A can take. Unless the question is so blatantly obvious, you'll find yourself tinkering with code or writing a response for well over 15 minutes for a single answer that you may not even get a "thank you" for. 

Writing an article worth reading takes time, effort, commitment, and a whole lot of convincing yourself that it's worth it - especially when you don't make a dime off a post. Of course when you're raking in advertising dollars you have more incentive to write articles. 

<h3>15 minutes is not enough time</h3>
To accomplish all these wonderful, community-building feats every day would take at least 5 hours a day. I haven't seen such over-optimism since Google Buzz. 

<h3>Time Sacrificed is Not Free</h3>
If the life of the community rides on our shoulders, where exactly do we fit it in? Do we say no to client work, to time with family, to time away from work? Something has to give. I love this industry, but I want to <em>keep it that way</em>. Engrossing myself in web design every minute of my life would have me going back to school to be a music major very, very quickly. 

<h2>Measuring the Health of the Community</h2>
Why judge the community by quantity of comments or twitter flame wars or the number of verbose blog posts? Why not judge the community by the overall beauty of the web. That's our goal as web designers; to make websites that look and function spectacularly. There is a web outside of our little Web 2.0 bubble, and you know what? It's starting to look pretty good. 

Do you know how you can contribute to the community of the web <em>as a whole</em>? Be good at what you do. Try your very best to make every single project you take on one you can be proud of. Make inspiring work. It's that simple.
{% endblock post %}

