{% extends "templates/post.html" %}
{% block post %}
{% filter markdown %}

**Pointers are easy**. You might find that hard to believe, but it's true!
Unfortunately, people just tend to be really awful at teaching the concept and
uses of pointers. 

This screencast answers the following question:

* What is a pointer, and why are they important?
* How do I declare a pointer?
* What does it mean to 'dereference' a pointer?
* How do I handle pointers inside a function?
* How can I use pointers with structures?

{% endfilter %}
{% endblock post %}

