{% extends "templates/post.html" %}
{% block post %}

In your development workflow, you might find it more convenient to head back to the GUI interface of windows explorer while working from the command prompt. It's not uncommon for me to be 7 directories in from the root directory while working on a project. 
Thankfully, there are extremely simple ways to open your current <strong>command prompt directory</strong> in Windows Explorer, and <a href="#command">vice versa</a>. 

<h2>Switching from Command Prompt to Explorer</h2>
Take this rather long directory for example, which contains this very Wordpress theme.
<img src="http://assets.vertstudios.com/blog/images/command-prompt-switch/command-prompt-switch-0.png" />
If I wanted to view the files in explorer, I'd have to double click on a pretty long series of files to get to the same directory. The quick alternative is to use
<pre class="prettyprint">start %CD%</pre>
<img src="http://assets.vertstudios.com/blog/images/command-prompt-switch/command-prompt-switch-1.png" />
The command successfully opens the current directory into a new explorer window. 

<a name="command"></a>
<h2>Switching from Explorer to Command Prompt</h2>
Consider the scenario in which you're moving files around in <strong>windows explorer</strong>, and then you want to open the command prompt to edit files with VIM or commit with Git. Instead of opening your command prompt and doing a long cd command, you can perform the following simple steps:
<h3>Ensure No Items are Selected</h3>
The following key combination will not work if a file is selected. It will bring up a context menu which does not contain the item we'll be using.
<img src="http://assets.vertstudios.com/blog/images/command-prompt-switch/command-prompt-switch-2.png" />
<h3>Shift + Right-Click in Open Space</h3>
While holding shift, right click in some open space. This will bring up the usual right-click menu, but with one major exception. Near the bottom, you will see "Open Command Window Here"
<img src="http://assets.vertstudios.com/blog/images/command-prompt-switch/command-prompt-switch-3.png" />

This opens up a command prompt correlating to the current directory.

<h2>That's It!</h2>
That was easy! Knowing the shortcuts of your OS can save you a lot of time, regardless of what OS you use.
{% endblock post %}

