{% extends "templates/post.html" %}
{% block post %}

I browsed Google for quite a while before I finally found a good product for recording screencasts on Ubuntu. Most software I found, no offense gtk-recordMyDesktop, was extremely outdated and hardly functional. Video quality was either terrible or video/audio was out of sync.

<h2>Enter Kazam!</h2>
Thanks to some more strict queries on Google, I found <a href="http://www.twm-kd.com/linux/kazam/kazam-1-2-0-released-as-stable/">Kazam</a> on <a href="http://www.askubuntu.com">AskUbuntu.com</a>. 

It has an extremely simple interface, as seen below.
<img src="http://i.imgur.com/WhhVN.png" alt="Kazam Ubuntu Screencast Software" />

The quality is just fine for simple screencasts, and it allows you to record audio that actually syncs with the video! 

<h2>Installation</h2>

First, we need some Python modules to be installed.
<pre class="prettyprint">
$ sudo apt-get install --reinstall gir1.2-gtk-2.0 python-software-properties software-properties-gtk
</pre>

Now we actually grab Kazam as instructed by their site.
<pre class="prettyprint">
$ sudo add-apt-repository ppa:kazam-team/stable-series
$ sudo apt-get update
$ sudo apt-get install kazam
</pre>

And you're done! You can run kazam via the command line or your distro's menu. 

<h2>Extras</h2>
If you happen to have FFMpeg installed, here's a nice 2-pass video/audio <a href="https://gist.github.com/2486369">encoder script</a> that encodes with H.264.
{% endblock post %}

