{% extends "templates/post.html" %}
{% block post %}

More and more people between the ages of 15-19 are becoming interested in the world of web design and SEO. This is great news for the industry! By the time these young over-achievers mature into their 20s, they will contribute substantially to the web design community.

However, if you are a teenage entrepreneur extraordinaire, there are certain pitfalls you must avoid and certain opportunities you must grasp in order to achieve success.

<h2>1) Your age is NOT an Asset: It's a Liability</h2>
Of course your young age is impressive to the people in the web design community, but most of the time it's not the community that pays you. 99% of local businesses equate "young" with "inexperienced". Flaunting that you are 17 while pitching to a potential client will get you nowhere. If you were a business owner in your mid-30's, would you willingly invest a portion of your life's investment in someone representing a generation obsessed with Twilight and Halo 3? I don't think so.

<b>Let your work speak for itself</b>

Your age adds no value whatsoever to your clients, and adding value to your clients is the most important foundation for any business model. If you feel your work is mediocre, don't attempt to compensate by disclosing your age. That will only come across as an excuse.

<h2>2) Take care of Legal Matters</h2>
Before you attempt to make a sale as an independent contractor, be sure to get an <a href="https://sa1.www4.irs.gov/modiein/individual/index.jsp">Employee Identification Number(EIN)</a> from the IRS. You can apply for it online and the process is extremely easy. Be sure to keep up with your EIN. I recommend printing out the confirmation PDF and also saving the PDF to your hard drive.

Also, if you plan on receiving more than $600 from a client for the year, be sure they give you a <a href="http://www.wisegeek.com/what-is-a-form-w-9.htm">W9</a> to fill out. It requires your signature and EIN.

Make sure checks are made out to your name. If you want clients to be able to write your business name on the check, you will need to <a href="http://www.legalzoom.com/sem/dbapage.html?WT.srch=1&se=google&q=dba&refcd=GO301775s_dba&tsacr=GO5026094827&cm_mmc_o=7BBTkwCjCWwc%20C%20KP-CjCKP-jH0zgfCjCp_z&gclid=CNy_zvOnzaICFSQ65QodPVI7yA">File for a DBA(Doing Business As)</a>. Note that this is separate from getting a business bank account, which should be avoided if possible due to the excessive fees. A DBA ties in with your personal checking account.

<h2>3) Take advantage of Tax Write-Offs</h2>
Logically qualifying your business expenses can lead to huge savings, especially when you factor in the cost of education. The <a href="http://www.irs.gov/pub/irs-pdf/p970.pdf">IRS's official publication</a> on qualifying education as a business expense states

<blockquote>
You can deduct the costs of qualifying work-related education as business expenses. This is education that meets at least one of the following two tests.
<ul>
<li>The education is required by your employer or the law to keep your present salary, status, or job. The required education must serve a bona fide business purpose of your employer.</li>
<li>The education maintains or improves skills needed in your present work.</li>
</ul>

However, even if the education meets one or both of the above tests, it is not qualifying work-related education if it
<ul>
<li>Is needed to meet the minimum educational requirements of your business or trade, or</li>
<li>Is part of a program of study that will qualify you for a new trade or business</li>
</ul>

You can deduct the costs of qualifying work-related education as a business expense even if the education could lead to a degree.
<cite><br />--IRS Publication 970, Page  77</cite>
</blockquote>

To become a web designer, you do not <em>need</em> a degree, unlike an Airline Pilot for example. Thus, there are no minimum educational requirements. So if you are a teenage web designer in college pursuing a web design related major (computer science, graphic design), the tuition and textbooks can  be  written  off as a business expense (but not housing or meals).

Additionally, all technical books, educational services, and web design related software should be written off as a business expense. I've written off about 30 web design books, and I'm currently deducting services such as <a href="http://www.seomoz.org">SEOMoz</a>.

Taking advantage of these write offs can save a ton of money, but <b>BE SURE TO KEEP YOUR RECEIPTS!</b>

<h2>4) Confidence is Key: Demand Respect</h2>
More likely than not, you will run into a client who refuses to take you seriously because of your age. I've had a client tell me "Don't spend it all in once place" after handing me a down payment, obviously patronizing me. Would he have said that to someone his own age? No way.

<b>If you are timid to any extent, clients will take advantage of you.</b>

Be confident in the service you're providing. If you display confidence, clients won't treat you like they're giving you pocket change for the candy store. Don't be a pushover. If you aren't confident in the services you're providing, you should probably educate yourself a bit more before trying to land a client. At the same time, don't be afraid to jump in and take a chance. It's all about knowing yourself.

<h2>5) Don't Appear Desperate</h2>
You might want the money, or you might even <em>need</em> the money. Either way, you must not appear desperate to potential clients. The moment you appear desperate, the prospective client realizes your <a href="http://en.wikipedia.org/wiki/Price_elasticity_of_demand">demand is inelastic</a>.

You experience inelastic demand when you're willing to accept an unfavorable price. This is why products such as gasoline and emergency contraceptives are so expensive: When people need them, they'll be willing to pay almost any price.

So if the potential client sees your desperation, they will talk you down to a lower price that you don't want to accept. Why?

<b>Because you've lead them to believe you're desperate enough to accept a price cut.</b>

Do not for a second let clients believe they are doing you a favor. You have spent your free-time, money, and effort on learning skills that not a lot of people are capable of grasping. There are no favors here: it's a business transaction. If the client refuses to see it as such, <b>walk away</b>. At this point, it will be impossible to please them, even if you allow yourself to build a database driven website with a custom design for $50. It seriously is just not worth the trouble.




We both know you have the potential to do great things with Web Design. Now channel your potential into a smart, confident business approach, and watch your success grow.

<h4>Further Reading</h4>
<ul>
<li><a href="http://sbinformation.about.com/lw/Business-Finance/Small-business-and-entrepreneurs/10-Business-Success-Tips-for-Young-Entrepreneurs.htm">10 Business Success Tips for Young Entrepreneurs</a></li>
<li><a href="http://www.entrepreneur.com/startingabusiness/youngentrepreneurscolumnistscottgerber/article203254.html">10 Tips for the First-Time Business Owner </a></li>
<li><a href="http://kidshealth.org/teen/school_jobs/jobs/tips_business.html">5 Tips for Teen Entrepreneurs</a></li>
</ul>
{% endblock post %}

