{% extends "templates/post.html" %}
{% block post %}

A company's value proposition explicitly states the benefits or values it intends to provide its customers. Are value propositions just corporate jargon that have no place in the real world? No: you must be thinking of 99% of mission statements ;). 

<h2>So what's the value of a company value proposition? </h2>
Most customers will never read your company value proposition directly. They should, however, see it manifested in everything you do. Therefore, a value proposition does not attempt to pitch to the reader; <b>it serves as a guideline for the company</b>. All products offered by a company must fit within the scope of their value proposition. Products that do not fit within the scope of the value proposition risk overstretching the company brand, potentially leading to a loss of identity and trust amongst consumers. 

An effective company value proposition performs the following functions:
<ol>
<li>Describes your target audience</li>
<li>Describes your product or service</li>
<li>Describes what makes your company superior to competitors</li>
</ol>

<h3>1) Describe your target audience</h3>
At this point in the life of your business, you should have your target audience established. Do not attempt to make a value proposition without a set-in-stone target audience, or I guarantee you the value proposition will be 100% worthless. 

When introducing a product to the market, the company must ensure the product serves the wants of their target audience (see the "Customer Needs, Wants, and Demands" in <a href="http://www.vertstudios.com/blog/5-principles-of-web-marketing/">5 principles of web marketing</a>). Having a company value proposition that states the target audience prevents unhealthy deviations that may lead to a loss. 

Example - Widget company:
<b>Bad</b>: "We provide high quality widgets"
<b>Better</b>: "We provide high quality widgets to families on a budget"
<b>Best</b>: "We provide retailers with high-quality yet low-cost widgets, increasing their widget sales by allowing them to pass savings on to their customers"

The best example describes the target audience (retailers), customer expectations (low prices without a compromise in quality), and customer value (increasing retailers widget sales). 

<h3>2) Describe your product or service</h3>
You should include exactly what type of product your company offers in your customer value proposition. A microchip manufacturer makes microchips, not "the latest technology". A tire company makes tires, not "stability enhancing traction devices." The less fluff, the better.

Examples - Computer accessories manufacturer:
<b>Bad</b>: "We push the limits of technology and bring our customers along for the ride"
<b>Better</b>: "We provide the most technologically advanced computer accessories"
<b>Best</b>: "We provide the most advanced computer accessories for the most advanced computer users."

The best example describes the target audience (advanced computer users), customer expectations (advanced/high-end products), and customer value (a company that appreciates the intelligence of their customers). 

<h3>3) Describes what makes your company superior to competitors</h3>
Pointing out the differences between your company and your competitors means nothing unless those differences provide value. So what if you don't test your products on animals? So what if your product is made in America? If you can't provide a sufficient answer to these "so what? tests", then you haven't demonstrated the value of your differentiation. 

Keep in mind that a product has too many characteristics for you to claim your company has mastered all of them. Car manufacturers have realized this and have adapted their customer value propositions accordingly. For example, Subaru touted safety in their <a href="http://www.google.com/url?sa=t&source=web&cd=6&ved=0CCkQFjAF&url=http%3A%2F%2Ftapscottbehindthewheel.blogspot.com%2F2006_02_01_archive.html&ei=ZoRYTPeuDMGv4Ab03OiVBw&usg=AFQjCNHsMeMfUfC2xt4LJUTYfmdOLXsJFw&sig2=egsn79kn8KyVa5EI6I418g">2006 customer value proposition</a>
<blockquote>"Air bags save lives. All-wheel drive saves air bags. It's what makes a Subaru a Subaru."</blockquote>

The same year, Saab came out with its <a href="http://www.saabusa.com/saabjsp/about/pr_060220.jsp">"Born from Jets"</a> campaign that promoted their specialty of car performance by linking their cars to their Jet engineering heritage. Saab Automobile USA General Manager Jay Spenchian stated:

<blockquote>"Jets are inherently cool - they represent speed, control, safety, quality and reliability. Saab is the only car company that can claim such a heritage. Nobody else can say 'what our founding engineers knew about thrust and power inspired us to build a more exciting vehicle' or 'what they knew about keeping pilots alive inspired us to build a safer vehicle.' This is unique to Saab and it really resonates with potential customers." </blockquote>

Always respect the fact that your competitors can provide a specific value to customers that you can't: whether its lower prices, faster shipping, whatever. <b>Attempting to incorporate their value into your business model could prove detrimental</b>. Your job is not to copy your competitors: Your job is to emphasize your specialty (for example, car safety) and convince your customers that your specialty provides superior value over your competitors (would you rather drive like a jet or save lives?). 

Now you have the tools necessary to write an excellent company value proposition. For further reading, check out <a href="http://www.marketingexperiments.com/improving-website-conversion/value-proposition.html">In Search of a Value Proposition</a>, written flawlessly by MarketingExperiments.com.

Think you have a great company value proposition? Share it in the comments section!
{% endblock post %}

