{% extends "templates/post.html" %}
{% block post %}

SEO. Pay-Per-Click. Social Media Marketing. We've all heard those terms at one point or another, and nearly every branded corporation in the US is pursuing at least one of those as a web marketing strategy. Why? Some companies pursue web marketing because they see great value in incorporating it into their business model. The remaining companies adopt web marketing strategies because they see their competitors engaging in it and follow suit out of fear. 

<img src="http://vertstudios.com/blog/images/follow-the-leader.jpg" alt="Follow the leader" />

<h2>Fear not!</h2>

Although web marketing can seem mystical on the surface, it can be broken down into <strong>5 Core Principles</strong> as described in <a href="http://www.amazon.com/gp/product/0132390027/ref=oss_product">Principles of Marketing</a>. Understanding the foundations of web marketing is essential if you wish to receive a significant return on your investment. The 5 principles of web marketing are:
<ol>
<li>Customer Needs, Wants, and Demands</li>
<li>Market Offerings</li>
<li>Customer Value and Satisfaction</li>
<li>Exchanges and Relationships</li>
<li>Markets</li>
</ol>

Let's discuss each principle in detail.

<h2>1) Customer Needs, Wants, and Demands</h2>
Web marketing could not exist without the concept of human need. Need is not something the marketing industry has coined: It's part of our DNA.
<a href="http://en.wikipedia.org/wiki/Maslow's_hierarchy_of_needs" title="Wikipedia: Maslow's Hierarchy of Needs"><img src="http://vertstudios.com/blog/images/maslows-hierarchy-of-needs.jpg" alt="Maslow's Hierarchy of Needs" /></a>
As described in <a href="http://en.wikipedia.org/wiki/Maslow's_hierarchy_of_needs">Maslow's Hierarchy of Needs</a>, human needs extend all the way from physical necessities to self esteem. 

However, <em>you should not market towards needs</em>. Why? According to <a href="http://www.businessknowhow.com/marketing/wants.htm">Business Know How</a>, while a purchase can fill a need, need does not extend far enough to influence a consumer's brand choice. A consumer may need food, but may <em>want</em> a Chick-Fil-A sandwich. When a consumer's want is coupled with purchasing power, that want becomes <b>demand</b>. You must decide which specific consumer wants you will fulfill. This process is also known as choosing your target audience. If you have no target audience and attempt to fulfill everyone's wants, you will overstretch your brand identity and provide an inferior product/service.

<h2>2) Market Offerings</h2>
Market offerings are a combination of 
<ul>
<li>products</li>
<li>services</li>
<li>experiences</li>
<li>information</li>

</ul>

<h3>Products and Services</h3>
Having a great product or service is the foundation of making a legitimate market offering. If a product or service does not satisfy customer wants, the market will reject it no matter how experienced your marketing team is.

<h3>Experiences</h3>
However, a great product or service alone will not convert into a sale. You must differentiate your product or service at the customer experience and information level. As a company, you must explicitly define your customer experience via the <a href="http://www.vertstudios.com/blog/how-to-write-an-effective-company-value-proposition/">company value proposition</a>. Ford can make cars. Lamborghini can make cars. The cars do the same thing: serve as a means of transportation. Is the customer experience the same? Not at all. 
<img src="http://www.car-catalog.com/sports_cars/lamborghini_murcielago.jpg" alt="Lamborghini" title="Lamborghini" />
(A Lamborghini. Image credit <a href="http://www.car-catalog.com/">Car-Catalog.com</a>)

<h3>Information</h3>
By granting your customers useful, easy to digest information, you build trust with them. <b>If the customer does not trust your product/service, they will not buy it</b>. Plain and simple.
Online merchants such as <a href="http://www.amazon.com">Amazon</a> and <a href="http://www.newegg.com/">Newegg</a> gain an advantage over local retailers by letting customers read and write objective reviews. These customer reviews become extremely valuable for purchases over a few hundred dollars. Consequently, customers feel much more secure knowing people in similar situations were satisfied with the same product they plan on investing in. 

<h2>3) Customer Value and Satisfaction</h2>
<img src="http://vertstudios.com/blog/images/del-monte-logo.jpg" alt="Del Monte Logo" style="float: left; margin: 28px 10px 0px 0px;"/>
When deciding between brands for the same product or service, customers will analyze the market offerings available and make expectations of value. Customers will then choose the brand that provides a value most inline with their wants. <a href="http://www.hy-top.com/">Hy-Top Foods</a> adds value to customers by providing canned and packaged foods for extremely low prices. <a href="http://www.delmonte.com/">Del Monte</a> adds value to customers by providing canned and packaged foods of a much higher quality. These companies satisfy their customers by providing accurate expectations.

Hy-Top does not market or price itself as a gourmet food line. Its canned food products are sufficient for feeding a family on a budget. If Hy-Top changed its brand image to elite and gourmet while keeping the same products on the line, new customers would be dissatisfied. Their expectations for gourmet and high quality would not be met. Similarly, if Del Monte changed their brand image to cheap and affordable while not changing their prices, new customers would also be dissatisfied. Their expectations for a budget-friendly meal would not be met due to the hefty price tag. 

<h2>4) Exchanges and Relationships</h2>
Exchange occurs when you receive something and offer something else in return. Achieving an exchange is a major goal of marketing. The most common exchange is a monetary exchange. You offer a product or service in exchange for someone's money. However, marketing has many other exchange mediums as well. Politicians want votes, Soup kitchens want volunteers, Churches want memberships, and Activists want their ideas accepted. For any given product or idea, you must decide which medium of exchange will provide mutual benefit for your company and your customer. 

<img src="http://fastfood.ocregister.com/files/2008/05/mcdonalds-logo.jpg" alt="McDonald's Logo" style="float: right; margin: 28px 0px 0px 20px;"/>
Another major goal of marketing is to retain established exchange relationships. Not only does a politician want more people to vote for him, he wants to retain the loyalty of current voters. As a real life example, McDonald's is trying desperately to retain customers after <a href="http://fastfoodreviewed.com/burger-wars-burger-kings-1-double-cheese-burger-vs-mcdonalds-mcdouble-throw-down/">the release of Burger King's $1 double cheeseburger</a>. Burger King gave value to its customers by providing a unique smokey flame-broiled taste. McDonald's gave value to its customers with the Dollar Menu. Now that Burger King has incorporated one of the McDonald's strongest marketing platforms, McDonald's is having to differentiate themselves once again. 

(Image courtesy <a href="http://www.ocregister.com/">Ocregister.com</a>)

<h2>5) Markets</h2>
A market is a set of actual and potential buyers of a product. The ultimate goal of marketing is to <b>establish profitable relationships with the buyers in these markets</b>. Activities involved in establishing profitable relationships include
<ul>
<li>Product Research and Development</li>
<li>Communication</li>
<li>Pricing</li>
</ul>

<h3>Product Research and Development</h3>
Selling a great product can make your brand. Selling a poor product can break your brand. If any company knows this, it's Microsoft. Microsoft <a href="http://www.trainsignaltraining.com/top-10-reasons-people-hate-windows-vista/2009-01-06/">came under fire</a> for Windows Vista. Very few people were satisfied with the Operating System. Microsoft accepted their product was unsatisfactory by <a href="http://www.microsoft.com/investor/EarningsAndFinancials/Earnings/FinancialStatements/FY10/Q4/IncomeStatements.aspx">allocating $8.7 billion dollars</a> to Research and Development over the past year. Windows 7 is out, and there are far fewer complaints, thanks to the extensive research conducted. 

<h3>Communication</h3>
Communication is essential to understanding your customer's wants. Vindicia.com's article <a href="http://www.vindicia.com/resources/best_practices/customer_communications.html">Best Practices for Customer Communications</a> states
<blockquote>"An effective communication strategy must address all stages of the customer lifecycle, from acquisition to retention to end of life to marketing to past customers (re-marketing), and define the types of communication that are relevant at each level." </blockquote>

<h3>Pricing</h3>
It is extremely important to know how to price yourself in the market. However, you should <b>never, ever attempt to compete on price alone.</b> If you remember anything from this article, remember this quote from <a href="http://www.amazon.com/gp/product/159555131X/ref=oss_product">John Jantsch</a>
<blockquote>
"Price [...] is a terrible place to compete. There will always be someone willing to go out of business faster than you."
</blockquote>

Determining your price is one major challenge. The other major challenge is having the discipline to not drop your price once it's set: Even if that means having to reject a client or market segment. 

You are now equipped with knowledge of marketing basics. I encourage you to dive deeper into the world of marketing by reading the articles linked throughout this post. 
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6420153; 
var sc_invisible=1; 
var sc_security="77636bb2"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div
class="statcounter"><a title="tumblr hit tracking tool"
class="statcounter"
href="http://statcounter.com/tumblr/"><img
class="statcounter"
src="http://c.statcounter.com/6420153/0/77636bb2/1/"
alt="tumblr hit tracking tool" /></a></div></noscript>
<!-- End of StatCounter Code -->
{% endblock post %}

