{% from "macros" import js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6297856; 
var sc_invisible=1; 
var sc_security="f601122c"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter">
<img class="statcounter"
src="http://c.statcounter.com/6297856/0/f601122c/1/"
alt=""></noscript>
<!-- End of StatCounter Code -->

{% if g.env == "production" %}
  {{js(g, "vertlib")|safe}}
  {{js(g, "compressed.min")|safe}}
{% else %}
  {% for file in 
    ["vertlib", "jsCSS", "index_init", "easing", "slaveshow.min", 
    "carousel", "carousel-init", "easing", "Scroller", "work_init", "contact",
    "prettify"] %}
      {{ js(g, file)|safe }}
  {% endfor %}
{% endif %}
