{% extends "templates/post.html" %}
{% block post %}

So you read our article on <a href="http://www.vertstudios.com/blog/why-you-should-hire-professional-web-designers/">why you should hire a professional web designer</a> and decided to examine the portfolios of local web designers. You call a few companies to get quotes, and the figures surprise you: The quotes range from $1,500 to $4,500 for the same project description! Why such a large difference? The answer lies in knowing exactly what a website's price says about its design. 

<h2>What is a $1,500 site?</h2>
What phrase comes to mind when you see a nice looking car being sold for $300 on the side of the road? 

<b>"What's wrong with it?"</b>

We are naturally skeptical when we see items of seemingly high value sold for low value. This is because we understand when something that should be expensive is sold for dirt cheap, the owner does not value the item as much as they want us to value it. If they don't value it, why should we? The exact same principle applies to web design. Unfortunately, most local companies have mastered the craft of selling a $300 "Hummer" to clients. A website around the $1,500 range implies at least one of the following defects.

<h3>Incompetence</h3>
An extremely low price can indicate an overall lack of confidence. The hourly rate of a web design company reflects how much they value their own work. Consider the following figures:
<ol>
<li>The average hourly rate of web design companies hovers between $80 and $100 an hour.</li>
<li>A standard informational site takes around 35 hours to complete when <b>started from scratch</b></li>
<li>a $1,500 website that takes 35 hours implies a 52% undercut of the market average</li>
</ol>
So why would a web design company, say ABC Software, decide to undercut the market by over 50%? Most web design companies have the same overhead, so most likely the reason for such a severe market undercut is the fact that ABC Software can't compete on quality. As stated in the 5 <a href="http://www.vertstudios.com/blog/5-principles-of-web-marketing/">web marketing principles</a>, a business that competes on price alone won't be around very long: There is always someone else willing to run themselves out of business faster.

<h3>Deception</h3>
On the opposite end of the spectrum, some web design companies may actually be "working" for an absurd $750 an hour! How is that? Some web design companies (<a href="http://www.vertstudios.com/blog/silversoap-media-web-design-tutorial/">even some local to Tyler, Texas</a>) claim to create fully custom websites, but they simply buy pre-designed and pre-coded templates, make minor adjustments, and resell them to you at up to a <b>2000% markup</b>! Their "skill-set" is composed of copying and pasting someone else's work. Why should you pay for that?

A popular template distribution website is <a href="http://themeforest.net/">ThemeForest.net</a>. The average price of a template ranges between $40 and $75. Not only do these templates misrepresent your business image, you could implement them yourself without the need for a $1,500 middle man. 

<h2>Protect Your Investment</h2>
<em>In the end, you will get what you pay for</em>. 

If you're going to spend money on a website at all, make sure that you do not compromise on quality. In order to protect your investment, educate yourself on the web design industry by <a href="http://www.vertstudios.com/blog/feed/">subscribing to the Vert Studios Blog</a>. We'll show you the tough questions you should ask your designer, ensuring you receive the highest quality product.
{% endblock post %}

