{% extends "templates/post.html" %}
{% block post %}

Ranking highly in Google's local results is extremely important for local companies. What can be frustrating for a company is ranking #1 in the organic results but not appearing in the local listings at all! What's even more irritating is that some of the local results ranking above you don't even link to an official website: You could easily be shoved off the local listings by a Google Maps or Mapquest result!

<h2>Why is ranking high in local results important?</h2>

If you take a look at how much space the local listings can take up, you begin to realize that your high organic ranking becomes almost irrelevant when your key search terms bring up Google Local results.

<img src="http://assets.vertstudios.com/blog/images/mc-blog/marketing/seo/google-local/local-vs-organic-google.jpg" alt="Google Local vs Google Organic Results" />

People generally aren't going to bother looking past the local results because the local results have the following conveniences
<ol>
<li>Reviews to see how the businesses listed handle themselves</li>
<li>Phone numbers of the business</li>
<li>Map markers to let them see the proximity to their household</li>
<li>Direct links to websites for more information</li>
</ol>

For the average user, there's not much more you really need from there.

So now we acknowledge that for our niche, ranking highly in the local results is really important. Naturally the question that follows: How do we get up there?

<h2>How to rank highly for Google Local Results</h2>
Right away you can tell that the algorithm for local results is completely different than the algorithm for organic results. This is because backlinks, the backbone of organic results, has much less influence on the local results.

I came across a fantastic article that is actually a compilation of SEO Experts' opinions. In the article <a href="http://www.davidmihm.com/local-search-ranking-factors.shtml">Local Search Ranking Factors</a>, the SEO experts came together and decided what factors most influence the local search engine results.

The top 5 factors <strong>IN ORDER</strong> are:
<ol>
<li>Having Local Businesses listed in the city of the search</li>
<li>Citations from Major Data Providers</li>
<li>Categories</li>
<li>Claiming your Business Listing</li>
<li>Keywords in Business Title</li>
</ol>

To illustrate these principles, I will be using <a href="http://sleepmasterstexas.com">Sleep Masters</a>, a local mattress store here in Tyler, Texas who I moved up to #1 in the local results.

<h3>1) Having Local Businesses listed in the city of the search</h3>
Although sort of a no-brainer, it can easily be overlooked. Make sure that the business listing is listed for the correct city. This is very important for companies that may have moved. In the case of Sleep Masters, I had to make sure they were listed for Tyler and Longview, Texas.

<h3>2) Citations from Major Data Providers</h3>
Citations are the back-links of Google Local SEO. Citations are like what you would find in a phonebook directory. For Sleep Masters, a <em>citation</em> would be:

Sleep Masters Sleep Center
700 W Loop 323 Tyler, Texas
(903) 509-1444

while a <em>backlink</em> could easily just be

<a href="http://sleepmasterstexas.com">Sleep Masters</a>

If you can manage to get a citation <strong>and</strong> a backlink, that's awesome for you! But for local search directory purposes, the text of the citation is more valuable than the backlink.

Major Data Providers is another term for <a href="http://www.google.com/search?q=internet+yellow+pages">internet yellow pages</a>.

An easy way to get started is to just Google <a href="http://www.google.com/search?q=internet+yellow+pages">internet yellow pages</a>, and try every page that shows up and see if you can get a free business listing in.

By doing this with Sleep Masters, their site shot up through the local results for Longview, Texas rather quickly. However Tyler, Texas was still an issue: An issue resolved by correcting categories.

<h3>3) Categories</h3>
Google will let you be as broad with your categories  as possible, but the more concise and specific the category, the higher you will rank for that category.

For example: Sleep Masters sells mostly mattresses and pillows, and they were listed as a furniture store in the Google categories. While this is true, changing the category from "furniture store" to "mattress store" yielded immediate results which has placed them at #1.

Be specific with your categories, and it is my opinion that you don't claim too many. One or two is sufficient: Anything more is just spammy.

<h3>4) Claiming your Business Listing</h3>
Claiming your business simply means letting Google know through a verification process that you own a business that is listed. This lets you make changes to the listing as you see fit.

Due to the fact that users can edit unclaimed business information, business that  have not been claimed can still easily rank in the local results, but claimed business will generally rank higher.

If you are doing SEO for a local company, this <strong>HAS</strong> to be your first step. Additionally, it is the most annoying step, because Google has to verify the listing at the address and phone number of the business. You will have to cooperate with the local business you are doing SEO for and let them know that they will be receiving a post card or automated phone call from Google that will contain a PIN you need to claim the listing.

<h3>5) Keywords in Business Title</h3>
In the beginning of the SEO work for Sleep Masters, Tyler Mattress Co and Mattresses 2 Go were ranked #1 and #2 for the targeted keyword phrase. The fact that they had the keyword "Mattress"  in their name greatly helped them. We can also conclude that keywords in the business title has a lower influence on the results since Sleep Masters does not contain that keyword, but has better citations.
{% endblock post %}

