{% extends "templates/post.html" %}
{% block post %}

As a rails novice, one of the more frustrating things I've encountered with rails is the inability to search for specific method names in its API. This is because a lot of these methods are dynamically generated helpers that you should know by heart once you've mastered the "Rails Way." Unfortunately for me, I'm not at the point of calling myself a Rails guru, so I still need to know what all I have available to me. In my opinion, nothing is more frustrating than not knowing what methods you have at your disposal. 

After doing quite a bit of googling, I was able to find a list of session variables by executing the following in Rails Console:
<pre class="prettyprint">
irb(main):001:0&gt; y app.methods.sort
</pre>

<h2>Rails Session Variables List</h2>
Here is my list of Rails Session Variables. These will vary across different apps based upon what gems you have installed. For example, you'll see methods with "refinery" in the list below, which refers to the <a href="http://refinerycms.com/">RefineryCMS</a> we've adopted here at Vert. I highly recommend you execute the command above for your own app.

<pre class="prettyprint">
---
- :!
- :!=
- :!~
- :&lt;=&gt;
- :==
- :===
- :=~
- :__id__
- :__send__
- :_assertions
- :_assertions=
- :_routes
- :`
- :accept
- :accept=
- :acts_like?
- :admin_dashboard_path
- :admin_dashboard_url
- :admin_dialog_path
- :admin_dialog_url
- :admin_disable_upgrade_message_path
- :admin_disable_upgrade_message_url
- :admin_image_path
- :admin_image_url
- :admin_images_path
- :admin_images_url
- :admin_memberships_path
- :admin_memberships_url
- :admin_page_part_path
- :admin_page_part_url
- :admin_page_parts_path
- :admin_page_parts_url
- :admin_page_path
- :admin_page_url
- :admin_pages_path
- :admin_pages_url
- :admin_refinery_setting_path
- :admin_refinery_setting_url
- :admin_refinery_settings_path
- :admin_refinery_settings_url
- :admin_resource_path
- :admin_resource_url
- :admin_resources_path
- :admin_resources_url
- :admin_root_path
- :admin_root_url
- :admin_user_path
- :admin_user_role_path
- :admin_user_role_url
- :admin_user_url
- :admin_users_path
- :admin_users_url
- :as_json
- :assert
- :assert_block
- :assert_dom_equal
- :assert_dom_not_equal
- :assert_empty
- :assert_equal
- :assert_generates
- :assert_in_delta
- :assert_in_epsilon
- :assert_includes
- :assert_instance_of
- :assert_kind_of
- :assert_match
- :assert_nil
- :assert_no_match
- :assert_no_tag
- :assert_not_empty
- :assert_not_equal
- :assert_not_in_delta
- :assert_not_in_epsilon
- :assert_not_includes
- :assert_not_instance_of
- :assert_not_kind_of
- :assert_not_match
- :assert_not_nil
- :assert_not_operator
- :assert_not_respond_to
- :assert_not_same
- :assert_nothing_raised
- :assert_nothing_thrown
- :assert_operator
- :assert_raise
- :assert_raises
- :assert_recognizes
- :assert_redirected_to
- :assert_respond_to
- :assert_response
- :assert_routing
- :assert_same
- :assert_select
- :assert_select_email
- :assert_select_encoded
- :assert_select_rjs
- :assert_send
- :assert_tag
- :assert_throws
- :assigns
- :blank?
- :body
- :breakpoint
- :build_message
- :cancel_user_registration_path
- :cancel_user_registration_url
- :capture_io
- :class
- :class_eval
- :clone
- :controller
- :cookies
- :copy_instance_variables_from
- :count_description
- :create_multiple_admin_page_roles_path
- :create_multiple_admin_page_roles_url
- :create_multiple_admin_user_roles_path
- :create_multiple_admin_user_roles_url
- :css_select
- :debugger
- :default_url_options
- :default_url_options=
- :default_url_options?
- :define_singleton_method
- :delete
- :delete_via_redirect
- :destroy_multiple_admin_page_roles_path
- :destroy_multiple_admin_page_roles_url
- :destroy_multiple_admin_user_roles_path
- :destroy_multiple_admin_user_roles_url
- :destroy_user_session_path
- :destroy_user_session_url
- :display
- :dup
- :duplicable?
- :edit_admin_image_path
- :edit_admin_image_url
- :edit_admin_page_path
- :edit_admin_page_url
- :edit_admin_refinery_setting_path
- :edit_admin_refinery_setting_url
- :edit_admin_resource_path
- :edit_admin_resource_url
- :edit_admin_user_path
- :edit_admin_user_url
- :edit_member_path
- :edit_member_url
- :edit_polymorphic_path
- :edit_polymorphic_url
- :edit_user_password_path
- :edit_user_password_url
- :edit_user_registration_path
- :edit_user_registration_url
- :enable_warnings
- :enum_for
- :eql?
- :equal?
- :exception_details
- :extend
- :find_all_tag
- :find_tag
- :fixture_file_upload
- :flash
- :flunk
- :follow_redirect!
- :freeze
- :friendly_id?
- :frozen?
- :gem
- :get
- :get_via_redirect
- :hash
- :hash_for_admin_dashboard_path
- :hash_for_admin_dashboard_url
- :hash_for_admin_dialog_path
- :hash_for_admin_dialog_url
- :hash_for_admin_disable_upgrade_message_path
- :hash_for_admin_disable_upgrade_message_url
- :hash_for_admin_image_path
- :hash_for_admin_image_url
- :hash_for_admin_images_path
- :hash_for_admin_images_url
- :hash_for_admin_memberships_path
- :hash_for_admin_memberships_url
- :hash_for_admin_page_part_path
- :hash_for_admin_page_part_url
- :hash_for_admin_page_parts_path
- :hash_for_admin_page_parts_url
- :hash_for_admin_page_path
- :hash_for_admin_page_url
- :hash_for_admin_pages_path
- :hash_for_admin_pages_url
- :hash_for_admin_refinery_setting_path
- :hash_for_admin_refinery_setting_url
- :hash_for_admin_refinery_settings_path
- :hash_for_admin_refinery_settings_url
- :hash_for_admin_resource_path
- :hash_for_admin_resource_url
- :hash_for_admin_resources_path
- :hash_for_admin_resources_url
- :hash_for_admin_root_path
- :hash_for_admin_root_url
- :hash_for_admin_user_path
- :hash_for_admin_user_role_path
- :hash_for_admin_user_role_url
- :hash_for_admin_user_url
- :hash_for_admin_users_path
- :hash_for_admin_users_url
- :hash_for_cancel_user_registration_path
- :hash_for_cancel_user_registration_url
- :hash_for_create_multiple_admin_page_roles_path
- :hash_for_create_multiple_admin_page_roles_url
- :hash_for_create_multiple_admin_user_roles_path
- :hash_for_create_multiple_admin_user_roles_url
- :hash_for_destroy_multiple_admin_page_roles_path
- :hash_for_destroy_multiple_admin_page_roles_url
- :hash_for_destroy_multiple_admin_user_roles_path
- :hash_for_destroy_multiple_admin_user_roles_url
- :hash_for_destroy_user_session_path
- :hash_for_destroy_user_session_url
- :hash_for_edit_admin_image_path
- :hash_for_edit_admin_image_url
- :hash_for_edit_admin_page_path
- :hash_for_edit_admin_page_url
- :hash_for_edit_admin_refinery_setting_path
- :hash_for_edit_admin_refinery_setting_url
- :hash_for_edit_admin_resource_path
- :hash_for_edit_admin_resource_url
- :hash_for_edit_admin_user_path
- :hash_for_edit_admin_user_url
- :hash_for_edit_member_path
- :hash_for_edit_member_url
- :hash_for_edit_user_password_path
- :hash_for_edit_user_password_url
- :hash_for_edit_user_registration_path
- :hash_for_edit_user_registration_url
- :hash_for_insert_admin_images_path
- :hash_for_insert_admin_images_url
- :hash_for_insert_admin_resources_path
- :hash_for_insert_admin_resources_url
- :hash_for_link_to_admin_pages_dialogs_path
- :hash_for_link_to_admin_pages_dialogs_url
- :hash_for_member_path
- :hash_for_member_url
- :hash_for_members_path
- :hash_for_members_url
- :hash_for_new_admin_image_path
- :hash_for_new_admin_image_url
- :hash_for_new_admin_page_part_path
- :hash_for_new_admin_page_part_url
- :hash_for_new_admin_page_path
- :hash_for_new_admin_page_url
- :hash_for_new_admin_refinery_setting_path
- :hash_for_new_admin_refinery_setting_url
- :hash_for_new_admin_resource_path
- :hash_for_new_admin_resource_url
- :hash_for_new_admin_user_path
- :hash_for_new_admin_user_url
- :hash_for_new_member_path
- :hash_for_new_member_url
- :hash_for_new_user_password_path
- :hash_for_new_user_password_url
- :hash_for_new_user_registration_path
- :hash_for_new_user_registration_url
- :hash_for_new_user_session_path
- :hash_for_new_user_session_url
- :hash_for_page_path
- :hash_for_page_url
- :hash_for_rails_info_properties_path
- :hash_for_rails_info_properties_url
- :hash_for_refinery_root_path
- :hash_for_refinery_root_url
- :hash_for_refinery_update_menu_positions_path
- :hash_for_refinery_update_menu_positions_url
- :hash_for_root_path
- :hash_for_root_url
- :hash_for_test_email_admin_pages_dialogs_path
- :hash_for_test_email_admin_pages_dialogs_url
- :hash_for_test_url_admin_pages_dialogs_path
- :hash_for_test_url_admin_pages_dialogs_url
- :hash_for_update_positions_admin_pages_path
- :hash_for_update_positions_admin_pages_url
- :hash_for_user_password_path
- :hash_for_user_password_url
- :hash_for_user_registration_path
- :hash_for_user_registration_url
- :hash_for_user_root_path
- :hash_for_user_root_url
- :hash_for_user_session_path
- :hash_for_user_session_url
- :hash_for_wymiframe_path
- :hash_for_wymiframe_url
- :head
- :headers
- :host
- :host!
- :host=
- :html_document
- :html_safe?
- :https!
- :https?
- :initialize_clone
- :initialize_dup
- :insert_admin_images_path
- :insert_admin_images_url
- :insert_admin_resources_path
- :insert_admin_resources_url
- :inspect
- :instance_eval
- :instance_exec
- :instance_of?
- :instance_values
- :instance_variable_defined?
- :instance_variable_get
- :instance_variable_names
- :instance_variable_set
- :instance_variables
- :is_a?
- :kind_of?
- :link_to_admin_pages_dialogs_path
- :link_to_admin_pages_dialogs_url
- :load
- :load_dependency
- :member_path
- :member_url
- :members_path
- :members_url
- :message
- :method
- :method_missing
- :methods
- :mu_pp
- :new_admin_image_path
- :new_admin_image_url
- :new_admin_page_part_path
- :new_admin_page_part_url
- :new_admin_page_path
- :new_admin_page_url
- :new_admin_refinery_setting_path
- :new_admin_refinery_setting_url
- :new_admin_resource_path
- :new_admin_resource_url
- :new_admin_user_path
- :new_admin_user_url
- :new_member_path
- :new_member_url
- :new_polymorphic_path
- :new_polymorphic_url
- :new_user_password_path
- :new_user_password_url
- :new_user_registration_path
- :new_user_registration_url
- :new_user_session_path
- :new_user_session_url
- :nil?
- :object_id
- :page_path
- :page_url
- :pass
- :path
- :polymorphic_path
- :polymorphic_url
- :post
- :post_via_redirect
- :presence
- :present?
- :pretty_inspect
- :pretty_print
- :pretty_print_cycle
- :pretty_print_inspect
- :pretty_print_instance_variables
- :private_methods
- :protected_methods
- :psych_to_yaml
- :psych_y
- :public_method
- :public_methods
- :public_send
- :put
- :put_via_redirect
- :rails_info_properties_path
- :rails_info_properties_url
- :redirect?
- :redirect_to_url
- :refinery_root_path
- :refinery_root_url
- :refinery_update_menu_positions_path
- :refinery_update_menu_positions_url
- :refute
- :refute_empty
- :refute_equal
- :refute_in_delta
- :refute_in_epsilon
- :refute_includes
- :refute_instance_of
- :refute_kind_of
- :refute_match
- :refute_nil
- :refute_operator
- :refute_respond_to
- :refute_same
- :remote_addr
- :remote_addr=
- :request
- :request_count
- :request_count=
- :request_via_redirect
- :require
- :require_association
- :require_dependency
- :require_library_or_gem
- :require_or_load
- :reset!
- :respond_to?
- :respond_to_missing?
- :response
- :response_from_page_or_rjs
- :returning
- :root_path
- :root_url
- :send
- :session
- :silence_stderr
- :silence_stream
- :silence_warnings
- :singleton_class
- :singleton_methods
- :skip
- :status
- :status_message
- :suppress
- :suppress_warnings
- :taint
- :tainted?
- :tap
- :test_email_admin_pages_dialogs_path
- :test_email_admin_pages_dialogs_url
- :test_url_admin_pages_dialogs_path
- :test_url_admin_pages_dialogs_url
- :to_dragonfly_unique_s
- :to_enum
- :to_json
- :to_param
- :to_query
- :to_s
- :to_yaml
- :to_yaml_properties
- :trust
- :try
- :unescape_rjs
- :unfriendly_id?
- :unloadable
- :untaint
- :untrust
- :untrusted?
- :update_positions_admin_pages_path
- :update_positions_admin_pages_url
- :url_for
- :url_options
- :user_password_path
- :user_password_url
- :user_registration_path
- :user_registration_url
- :user_root_path
- :user_root_url
- :user_session_path
- :user_session_url
- :with_options
- :with_routing
- :with_warnings
- :wymiframe_path
- :wymiframe_url
- :xhr
- :xml_http_request
- :y
</pre>
{% endblock post %}

