{% extends "templates/post.html" %}
{% block post %}

<a href="http://assets.vertstudios.com/downloads/libmysql.zip">Download libmysql.dll</a> (ZIP File)

<h2>When Would you Need this DLL?</h2>
If you're on a 64 bit Windows machine and use 32-bit software that implements MySQL, it will most likely need the 32 bit version of libmysql.dll.

<h2>Why Bother Posting This?</h2>
The only other site I could find that hosts this individual file had so many affiliate links, I couldn't find where to download. I ended up having to install MySQL 32 bit just to snag the dll. I think people would prefer a 1MB download to a 120MB download! 

<a href="http://assets.vertstudios.com/downloads/libmysql.zip">Download libmysql.dll</a> (ZIP File)
{% endblock post %}

