{% extends "templates/post.html" %}
{% block post %}

<a href="http://lynx.browser.org/">Lynx</a> is a text-only  <a href="http://www.vertstudios.com/blog/web-design-dictionary/#browser">browser</a>  that's great for browsing content extremely fast. Sometimes you don't need fancy JavaScript interaction or beautiful images; you just want to view the text needed to solve your problems and move on with your life. That's what Lynx is for. Additionally, as a designer/developer, Lynx is a great way to make sure your website is adhering to <a href="http://www.vertstudios.com/blog/web-design-dictionary/#accessibility">accessibility</a> guidelines. 

Here's a snapshot of our site, viewed from Lynx.
<img src="http://assets.vertstudios.com/blog/images/lynx-64/lynx-vertstudios.png" alt="Vert Studios Lynx Screenshot" />

<h2>Lynx for Windows 7</h2>
If you've tried to install Lynx from the download page while on Windows 7, you might have come across various errors preventing you from installing this great tool. While searching for a solution myself, I came across a <a href="http://www.vordweb.co.uk/standards/download_lynx.htm">Lynx Download Page</a> with instructions that work for Windows 7 64 bit. Just checkout the readme and follow the step by step guide, and you'll be browsing in no time.

<h2>What do you think of Lynx?</h2>
Ever used Lynx? Let us know what you think about it in the comments section below!
{% endblock post %}

