{% extends "templates/post.html" %}
{% block post %}

I've only been on Twitter for a few weeks, and while I am by no means a <a href="http://socialmediadouchebag.net/">social media guru</a>, I can already tell that a lot of people on Twitter have absolutely no idea what they're doing. Some people feel obligated to Retweet everything they see. Some people feel obligated to follow anyone mentioned in an Retweet. And, as this article will discuss, some people get so excited when someone follows them, they reciprocate the follow - no questions asked. What does this all lead to? Nothing. A whole lot of nothing. 

<h2>What is Reciprocal Linking?</h2>
Reciprocal linking, the act of coordinating with another webmaster to increase both sites' link profiles by linking them to each other, <a href="http://www.google.com/support/webmasters/bin/answer.py?hl=en&answer=66356">decreases a site's authority</a> when done in excess. However, Google tolerates a certain degree of reciprocal linking since, in some instances, reciprocal linking can benefit the user and/or emulate natural referral patterns. 

<h2>How does Reciprocal Linking relate to Twitter?</h2>
While excessive reciprocal linking decreases a site's authority in an algorithmic sense, excessive reciprocal following decreases a person's authority in a social sense. Twitter is nothing more than a branch of social media, and social media is just the use of networking to convince consumers to view your company as an authority. Whenever you follow someone on Twitter, you send the following implications to the world:  
<ol>
<li>I trust this person's authority</li>
<li>Since you're following me, you should trust my authority and follow this person also.</li>
</ol>

There is absolutely nothing wrong with sending these implications. However, when you send these implied messages in excess, the message becomes completely different. To demonstrate, let's take the messages stated above and replace the phrase "this person" with "most people"

<b>Message 1) "I trust most people's authority"</b>.

We have a few ways to describe a person who trusts most people's authority. We call these people
<ul>
<li>Gullible</li>
<li>Easy to deceive</li>
<li>Unable to think for themselves</li>
</ul>

Exhorting those qualities will not get you followed by anyone important. 

<b>Message 2) "Since you're following me, you should trust my authority and follow most people also."</b>.

As we've already established mindlessly following people just to build numbers does nothing, this implied messages you send out will set up your followers for social media failure. What do we call someone who claims to be an authority and sends you down the path of failure?
<ul>
<li>A scammer</li>
<li>Untrustworthy</li>
<li>Deceptive</li>
</ul>

Having these qualities associated with you or your business will hurt your brand and hurt your sales. 

You must harness and protect your authority. Take your actions on Twitter and place them in the context of real-life social standards. People of high authority do not endorse every opinion they hear, because endorsements become an extension of yourself. The sample principle apples to Twitter. 

<h2>What should you do when you see someone just has followed you?</h2>
<h3>1) Look at the topics of their Recent Tweets</h3>
Check out their recent tweets to see if what they say relates to your interests. Are their tweets and retweets relevant to your industry? Do they Retweet quality articles, or do they Retweet crappy list posts? Consider following the link to their site located in the about section. Does the site contain quality content? Ask yourself these questions before instinctively hitting the follow button.

<h3>2) Look at their frequency of Tweets</h3>
Don't follow someone who is going to fill up your screen with tweets. Look at their profile and see their tweet intervals. Truly authoritative sources will only tweet/retweet the content they value most. 

<h3>3) Realize Twitter isn't a Numbers Game</h3>
The ultimate goal in obtaining a following on Twitter is to drive traffic to your site. Many people get so caught up in their <em>quantity</em> of followers that they fail to assess whether these followers actually drive  <em>quality</em> traffic to their site. If the person who followed you has 30 following while they follow 1000 people, you can bet they're expecting you to mindlessly reciprocate. 

Now you should never rule anyone out just because they followed you. If you view their profile, read their content, and like what you see, follow them! But use these guidelines to ensure your authority is passed on to someone who deserves it. 

<h4>How do you go about getting quality followers?</h4>
Leave your feedback in the comments section below!
{% endblock post %}

