{% from "sections" import what_now %}
{% extends "layout.html" %}
{% block body %}
<div id="sub_page_intro">

<h1>About Us</h1>
<p>Vert Studios is a web and graphic design company located in beautiful Tyler, Texas.</p>
<p>
  We take the time to learn the latest technologies as they appear - staying 
  a step ahead of our competition, and allowing you to do the same.
</p>
<img src="http://assets.vertstudios.com/images/pointer.png" alt="" class="pointer" />
</div>

<div class="sub_page_1 clearfix">
  <h2>Our Company</h2>
  <p>
    Born out of a love for quality web design and superior functionality, Vert Studios 
    was founded by Justin Edwards in 2009. Identifying the need for a higher design 
    standard in East Texas, Justin opened shop - bringing years of web development experience 
    for a multi-billion dollar energy corporation with him. But he didn'
    t stop there. Good design becomes great when paired with top-notch web 
    programming, and co-founder Joseph McCullough tailors his development skills based on the 
    business goals you're looking to achieve.
  </p>
  <p>
    Template websites are becoming a thing of the past, and Vert Studios is 
    here to help you create a custom website you can call your own. Give us 
    a call today, and let us know how we can help you make that all-important 
    first impression.
  </p>
</div>

<div class="sub_page_2 clearfix">
  <h2>Our Crew</h2>
  <div class="bio justin_edwards">
  <img src="http://assets.vertstudios.com/images/justin.jpg" class="clearfix" alt="Justin Edwards" />
  <h3>Justin Edwards - Lead Designer</h3>
  <p>
    Have an idea in mind, but don't quite know how to execute it? Justin goes 
    above and beyond with an eye for great multimedia design. Bringing visual
    concepts to life with a graphic design degree and 7 years of industry 
    experience,  Justin not only has natural talent, but can back it up with 
    trained techniques.
  </p>
  <p>
    A native East Texan, Justin has worked with a variety of companies as a 
    contractor and in-house designer/developer - everything from a 
    multi-billion dollar international energy corporation to the Tyler 
    Morning Telegraph.
  </p>
  <p>
    A published artist, Justin's favorite things to do include spending time 
    with his son Xander, cooking, biking, taking photographs and eating at 
    Stanley's BBQ. Make sure you try the Brother-In-Law sandwich.
  </p>
  <p>Follow Justin on Twitter: <a href="http://twitter.com/vertjustin">@vertjustin</a></p>
  </div>

  <div class="bio joseph_mccullough">
  <img src="http://assets.vertstudios.com/images/joseph.jpg" class="clearfix" alt="Justin Edwards" />
  <h3>Joseph McCullough - Lead Developer</h3>
  <p>
    Have a technical question about web design? Don't know what an SEO is? 
    Joseph is your guy. Highly driven with a knack for the technical, Joseph
    knows a thing or two when it comes to making your website perform effortlessly.
  </p>
  <p>
    He's been in the industry since 2008, and has been featured in respected 
    web development publications including 1stWebDesigner and Onextrapixel.
  </p>
  <p>
    Joseph is currently pursuing a computer science and math double major 
    at the University of Texas at Tyler.
  </p>
  <p>
    When not staring at a computer monitor, Joseph loves watching volleyball 
    and old episodes of The Office.
  </p>
  <p>Follow Joseph on Twitter: <a href="http://twitter.com/joe_query">@Joe_Query</a></p>
  </div>
</div>

<div class="sub_page_3 clearfix">
  <h2>Our Philosophy</h2>
  <p>
    We pride ourselves on delivering results you can be proud of. 
    Here are a few key words we stand by:
  </p>

  <div>
    <h3>Quality</h3>
    <p><em>We love cookies, but hate the cutter.</em></p>
    <p>
      The word "template" doesn't exist in our vocabulary. We know what it means 
      to stand out from the crowd. In today's world, differentiation is not only
      good business practice, it's downright necessary.
    </p>
    <p>
      When you come to Vert Studios, you receive quality, custom design - a 
      website you can call your own. So go ahead, let your competition have
      that cookie cutter template while you turn up the heat with new 
      business. They'll just be left with crumbs.
    </p>
  </div>

  <div>
    <h3>Communication</h3>
    <p><em>We're here for you. Anytime.</em></p>
    <p>
      You won't ever get that nerve-grating "robot-speak" when you give us 
      a call. Instead, you'll be pleasantly surprised to find real people 
      on the other end of that receiver - because while technology is a 
      lovely thing, talking to it is not.
    </p>
  </div>

  <div class="last">
    <h3>Relationships</h3>
    <p><em>Face-time used to actually mean something.</em></p>
    <p>
      Did you know some competing web design companies don't even have actual 
      designers in office, and instead choose to outsource their work?
    </p>
    <p>
      That's not an issue here, as you'll be doing business with either one of 
      us - Justin or Joseph - two native East Texans who truly understand where you're coming from.
    </p>
  </div>
</div>

<div id="tertiary">
{{ what_now()|safe}}
</div><!--END tertiary-->

{% endblock body %}
