{% from "macros" import render_field %}
{% from "sections" import what_now %}
{% extends "layout.html" %}
{% block body %}
<div id="sub_page_intro">
<div class="copy">
<h1>Brass Tacks</h1>        
<p>Think we're a good fit but don't know if we're in your budget?</p>
<p>No worries. Just use our quote generator to get a rough estimate of what a new website will run you.</p>
</div>
<img src="http://www.vertstudios.com/images/pointer.png" alt="" class="pointer" />
</div>              
<div class="featured_work">
<div class="screenshot contact_form">
<form action="{{url_for("contact")}}" id="mail" method="post" autocomplete="off"> 
<div id="frame_wrap">
<div class="frame">
<!--<h2>Contact Information</h2>-->
<fieldset id="quote-details">                                 
{% autoescape false %}
{{ render_field(form.name, class="required") }}
{{ render_field(form.email, class="required") }}
{{ render_field(form.phone, class="required") }}
{{ render_field(form.message, class="required") }}
{% endautoescape %}
<button type="submit" id="submit"> 
Do it!
</button> 
<p class="form-meta">All fields are required.<br/>Mail is sent to:<br/><a href="mailto:hi@vertstudios.com">hi@vertstudios.com</a></p>                               
</fieldset>                             
</div>
</div>
</form> 
</div>                
<div class="clearfix"></div>
</div>             
{% endblock body %}

