{% from "macros" import img %}
{% extends "layout.html" %}
{% block body %}
<h1>Your website is your company's first impression.<br/><span>Together, we can make it a lasting one.</span></h1>
<div id="featured_work">
  <div id="screenshots">
    {% autoescape false %}
      {{img(g, "etb_ss1.jpg", "East Texas Beancounter", "first")}}  
      {{img(g, "javascript.jpg", "JavaScript Article")}}  
      {{img(g, "scarborough_ss1.jpg")}}  
    {% endautoescape %}
  </div>
  <div id="featured_copy">
    <h2>What we're up to</h2>
    <div id="summaries">
      <div class="case_study first">
      <p>Virgina Clark CPA came to Vert Studios with a need to update her look and broaden her audience.</p>
      <p>We built a top of the line website featuring a fluid layout, providing a perfectly tailored experience to both desktop and mobile visitors.</p>
      <p><a href="http://www.etbeancounter.com">View the website</a></p>
      </div>
      <div class="case_study">
      <p>Our web design expertise is acknowledged not only by our clients, but by our peers in the industry.</p>
      <p>1stwebdesigner.com recently featured lead developer Joseph McCullough's introduction to Object Oriented Programming in JavaScript.</p>
      <p><a href="http://www.1stwebdesigner.com/design/object-oriented-basics-javascript/">Read the article</a></p>
      </div>
      <div class="case_study">
      <p>David C. Scarborough, East Texas' most experienced landscape architect approached us with the need for an earthy but professional website to showcase his work.</p>
      <p>By pulling colors and textures from the sun soaked pine forests of East Texas, we created a site that cements David's standing as East Texas' leading landscape architect.</p>
      <p><a href="http://www.texaslandarchitect.com">View the website</a></p>
      </div>
    </div>
  </div>
</div><!--END featured_work-->
<div class="hr"><hr /></div>
<div id="aboutus">
  <h2>What We Do</h2>
  {{img(g, "what_we_do.png", "Vert Studios: What we do")|safe}}
  <p>First impressions mean everything. These days, your website is the number one place people go to find out more about you and your company.</p>
  <p>Your homepage is more than just a virtual business card - it represents who you are and what you stand for.</p>
  <p>Vert Studios will help you develop quality, eye-catching websites that will place your company at the top of any business list and first on customers' minds.</p>
  <p>With Vert Studios, a handshake to reaching new business is only a 
  <a href="{{url_for("contact")}}">mouse-click away</a>.</p>
</div>
<div class="hr"><hr /></div>
<div class="tertiary">
  <div id="what_now">
      <h3>What Now?</h3>
      <p>Knowledge is power. Learning how the web design industry works is the first step in
      <a href="/blog/client-resources/">protecting your investment</a>. </p>
      
  </div>
  <div id="from_the_blog">
      <h3>From the Blog:</h3>                 
      <div id="featured_posts">
        {{ rssFeed|safe}}
      </div><!--featured_posts-->
  </div><!--from_the_blog-->
</div><!--tertiary-->
{% endblock body %}
