{% from "macros" import flash %}
<!doctype html>
<title>Flask</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1><a href="{{url_for('show_entries')}}">Flaskr</a></h1>
  <div class="metanav">
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  {{ flash()|safe }}
  {% block body %}{% endblock %}
</div>
