{% from "macros" import img %}
{% extends "layout.html" %}
{% block body %}
<div id="sub_page_intro">
    <div class="copy">
        <h1>Featured Work</h1>        
        <p><strong>Virginia Clark CPA - East Texas BeanCounter</strong></p>
        <p>Jenny came to Vert wanting to rejuvenate her business by updating her look and reaching out to the growing smartphone and tablet audience her old flash site could not accommodate.</p> 
        <p>We took this idea to the next level with a fully fluid site that seamlessly adjusts itself to 28" cinema displays, iPhones, and everything in between.</p> 
        <p><a href="http://www.etbeancounter.com/">View the website</a></p>
    </div>
    {{ img(g, "pointer.png", "", "pointer")|safe}}
</div>              
<div class="featured_work clearfix">                    
    {{img(g, "etb_work_img.jpg", "East Texas Bean Counter", "screenshot")|safe}}
</div>              
<div class="hr"><hr /></div>
<div class="featured_work clearfix">    
    {{img(g, "scarborough_work_img.jpg", "Dave Scarborough", "screenshot")|safe}}
    <div class="copy jshidden">
        <h2>Texas Land Architect</h2>
        <p><strong>David C. Scarborough - Landscape Architect</strong></p>
        <p>David approached us with the need for an earthy, professional website to showcase his work.</p>
        <p>By pulling colors and textures from the sun soaked pine forests of East Texas, we created a site that cements David's standing as East Texas' leading landscape architect.</p>
        <p><a href="http://www.texaslandarchitect.com/">View the website</a></p>
    </div>
</div>
<div class="hr"><hr /></div>

<div class="featured_work clearfix">    
    {{img(g, "fffk_ss1.jpg", "Feet First for Kids", "screenshot")|safe}}
    <div class="copy jshidden">
        <h2>Feet First for Kids</h2>
        <p>Feet First for Kids, a registered non-profit organization located in Tyler, Texas,
            commissioned us to create a website to educate the public on the needs of local children. Through simple PayPal integration,
            Feet First receives donations that provide underprivileged children with shoes and school supplies.
        </p>
        <!--<p><a href="http://www.feetfirst4kids.org/">View the website</a></p>-->
    </div>
</div>

<div class="hr"><hr /></div>
<div class="featured_work clearfix">    
    {{img(g, "canvashead_work_img.jpg", "CanvasHead", "screenshot")|safe}}
    <div class="copy jshidden">
        <h2>Derrick White</h2>
        <p>
            Derrick White is a nationally recognized artist whose works are distinct, edgy, and
            dripping with personalty. Naturally, Derrick needed a website that reflected these qualities.
        </p>
        <p>
            We created a portfolio of Derrick's work that exhibits the form of an artist
            and the function of a successful transaction medium.
        </p>
        <p><a href="http://www.canvashead.net/">View the website</a></p>
    </div>
</div>              

<!--<div class="featured_work clearfix">
    <img class="screenshot" src="images/stewart_work_img.jpg" alt="www.canvashead.net screenshot" />
    <div class="copy jshidden">
        <h2>Chris Stewart</h2>
        <p>
            Professional printmaker and Tyler Junior College art department chair Chris Stewart
            knew a website was an effective way to showcase his art, but needed
            help getting started.
        </p>
        <p>
            We not only created a website to showcase his work, we taught
            Chris how to use social media tools to promote his art and educate his students.
        </p>
        <p><a href="http://christopher-stewart.com/">View the website</a></p>
    </div>                    
</div>
<div class="hr"><hr /></div>-->
{% endblock body %}
