{% extends "templates/post.html" %}
{% block post %}

Tired of your current job? Want to be a part of something new and cutting-edge? Look no further! 

The folks at <a href="http://www.silversoapmedia.com/" rel="nofollow">Silversoap Media</a> have employed a great system that yields <a href="http://www.vertstudios.com/blog/what-a-websites-price-says-about-its-design/">an insanely awesome ROI</a>!

After reading this simple step by step guide, you'll be able to set up your very own web design company. 

<h2>What you'll need</h2>
<ul>
<li>$55 Dollars on a debit/credit card</li>
<li><a href="http://www.youtube.com/watch?v=hq_PrxbnUkw">A will to survive</a></li>
</ul>

That's it! 

<h2>Getting Started</h2>
So now you're a professional web designer. Before you can start making loads of money, <b>you have to look the part</b>. But wait, what if you actually don't know how to design a website?

<h3>No problem! </h3>

You can be a professional web designer without knowing an ounce of design, thanks to our friends at <a href="http://themeforest.net">Themeforest.net</a>. Themeforest allows you to buy website templates, slap your logo on them, and call them your own creations. In school that was called cheating, but school never made anyone money, did it? 

<h3>Step 1: Buy yourself a template</h3>
Consider buying <a href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/full_screen_preview/74542">this template</a> that implores an awesome rotating box of pure-awesome. And it's only $40!
<a title="View the template on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-full.png" alt="Silversoap Media Template" /></a>

<h3>Step 2: Make extremely minor adjustments</h3>
You want people to think that this was created by your own craftsmanship. The best thing to do is make adjustments to the content, but leave the design the same. Let's take this step by step.

<h4>The Header</h4>
<h5>Original Template:</h5>
<a title="View the template on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-header.png" alt="Website Template" /></a>
<h5>With Adjustments:</h5>
<a title="View the template implementation at Silversoapmedia.com" href="http://www.silversoapmedia.com" rel="nofollow"><img src="http://assets.vertstudios.com/blog/images/silversoap/silversoap-media-header.png" alt="Silversoap Media Web Design" /></a>

<h4>The Slider</h4>
<h5>Original Template:</h5>
<a title="View the template on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-slider.png" alt="Website Template" /></a>
<h5>With Adjustments:</h5>
<a title="View the template implementation at Silversoapmedia.com" href="http://www.silversoapmedia.com" rel="nofollow"><img src="http://assets.vertstudios.com/blog/images/silversoap/silversoap-media-slider.png" alt="Silversoap Media Web Design" /></a>

<h4>The Content</h4>
<h5>Original Template:</h5>
<a title="View the template on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-content.png" alt="Website Template" /></a>
<h5>With Adjustments:</h5>
<a title="View the template implementation at Silversoapmedia.com" href="http://www.silversoapmedia.com" rel="nofollow"><img src="http://assets.vertstudios.com/blog/images/silversoap/silversoap-media-content.png" alt="Silversoap Media Web Design" /></a>

<h4>The Footer</h4>
<h5>Original Template:</h5>
<a title="View the template on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-footer.png" alt="Website Template" /></a>
<h5>With Adjustments:</h5>
<a title="View the template implementation at Silversoapmedia.com" href="http://www.silversoapmedia.com" rel="nofollow"><img src="http://assets.vertstudios.com/blog/images/silversoap/silversoap-media-footer.png" alt="Silversoap Media Web Design" /></a>

And finally we arrive at...
<h4>The Finished Product!!!</h4>
<a title="View the template implementation at Silversoapmedia.com" href="http://www.silversoapmedia.com" rel="nofollow"><img src="http://assets.vertstudios.com/blog/images/silversoap/silversoap-media-full.png" alt="Silversoap Media Web Design" /></a>

That wasn't so bad! <del datetime="2010-10-28T19:46:42+00:00">Only 30 minutes</del>  and $40 have elapsed, and we already have a good looking website that establishes your credibility as a web designer. It's time for the next step.

<em>[editor's note: The fine people at <a href="http://www.l2-marketing.com" rel="nofollow">L2 Marketing</a>, frequent clients of Silversoap, were kind enough to call and tell us that we had no way of knowing how long the "design" process took them. This is true and so I have modified the post appropriately. I only know that it would have taken <em>us</em> 30 minutes - I have no way of knowing how long it took them...]</em>

<h3>Step 3: Market yourself as a professional</h3>
Convince family, friends, and business owners to visit your new website so they can see how great it looks. They'll surely be impressed by the 3D Flash box slider. After they've been wowed with your creativity, they'll surely tell <i>their</i> friends, family members, and business owners how awesome you are at web design. 

Pretty soon, someone with money will hear your name through the grapevine. At that point, they may commission you to create a website for them.

But wait, <strong>you still don't know how to actually design a website!</strong>

Relax! Themeforest has a large number of <a href="http://themeforest.net/category/">template categories</a> to choose from, ranging all the way from churches to food. 

<a title="View Template categories on Themeforest.net" href="http://themeforest.net/item/display-3-in-1-business-portfolio-wordpress-/74542"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-categories.png" alt="Website Template" /></a>

<h4>Step 4: Buy a template for your new client</h4>
Choose the template that best reflects your client's business image. If you don't know what a business image is or don't know how to determine an appropriate representation of one, that's alright. 

Suppose your client is in the catering industry. Simply look up the food category on Themeforest and find the template you like best. 

After you've purchased the template for $15, make the minor adjustments like you did to your own website, and slap the company's logo on it. 
<h5>Before:</h5>
<a title="View Template on Themeforest" href="http://themeforest.net/item/bon-apetit-restaurant-or-coffee-shop-template/70484"><img src="http://assets.vertstudios.com/blog/images/silversoap/food-template-original.png" alt="Website Template" /></a><h5>After:</h5>
<a title="View Template Implementation at Corazoncateringtyler.com" href="http://corazoncateringtyler.com/"><img src="http://assets.vertstudios.com/blog/images/silversoap/food-template-adjusted.png" alt="Corazon Catering Tyler" /></a>

A change in texture and some slight content adjustments should do the trick. 

So the client is extremely happy with the design. <del datetime="2010-10-28T19:46:42+00:00">Be sure not to disclose that the site is a template: This may cause the client to feel cheated. Why would you ever want to say something to make someone feel that way? </del>

<em>[editor's note: I've been told that the client we've used as an example was aware of the nature of the transaction. That's good at least. Now everyone else is too.]</em>

Chances are the template you purchased has been implemented hundreds of times by other aspiring web designers such as yourself. In the previous example, our food template has been implemented 158 times by other companies. 
<a title="View Template on Themeforest" href="http://themeforest.net/item/bon-apetit-restaurant-or-coffee-shop-template/70484"><img src="http://assets.vertstudios.com/blog/images/silversoap/template-purchases.png" alt="Website Template" /></a>

Now it's time to move on to the final and most important step:

<h3>Step 5: Recover your investment</h3>
So far you've spent $55 on your company. It's time to recover that investment. Not everyone is tech-savvy enough to copy and paste someone else's code or Photoshop file. You should be properly compensated! Charge <a href="http://www.vertstudios.com/blog/what-a-websites-price-says-about-its-design/">between $1000-$1,500</a> for the website. This feels like a happy medium. It's not too cheap to where people think you didn't do any work (or that they could do it themselves). But it's also not too expensive, so more people can afford you. 

<h2>Congratulations, Web Designer!</h2>
You are now armed with all the knowledge you need to become a super awesome web designer! Simply repeat this set of processes over and over again until you dominate your local market.
{% endblock post %}

