{% extends "templates/post.html" %}
{% block post %}

The text on your website, without question, will influence a visitor's decision to accept or ignore your message. Your message may be as simple as "this product will make you happy", or as complex as "this is why you should enable Apache's mod_rewrite." Regardless, conveying your message in a clear, appropriate, and motivating manner remains a critical component of satisfying visitor wants and needs. We'll show you three easy ways to elevate your web copy from mediocre to kick-ass. 

<h2>Use the "So What?" Test</h2>
Every paragraph of your web copy needs to have an explicit purpose. To keep yourself on track, you can abide by the "So What?" test. Essentially, after every paragraph, ask yourself "so what?" or "how does that solve my problem?" This process helps you, the writer, easily distinguish <a href="http://www.seocopywriting.com/content-marketing/shzam-transforming-ordinary-features-into-extraordinary-benefits/">features from benefits</a>. Overall, the "so what?" test alleviates potential objections the reader might have before those objections become too rooted in their subconcious. 

For example, consider this poorly crafted copy that may appear on the site of a web designer:
<blockquote>
At Web Design Solution Inc, we implement standards compliant HTML5 on all of our projects. We take pride in implementing CSS3 and jQuery, and host all of our sites using the open-sourced Apache webserver.
</blockquote>

Wow, neat, eh? But...so what? The company touts their capabilities without giving a single reason why the visitor should care enough about their jargon-filled rant to make a purchase.

An example of applying benefit-driven copy aided by the "so what?" test would be:
<blockquote>
Engagement and stimulation fuel the advancing web. We have the expertise required to deliver an engaging user experience that visitors now expect - keeping them on your site, and off your competitor's.
</blockquote>

This paragraph more effectively conveys the benefits of the web design company having jQuery and CSS3 capabilities. Let's break down each sentence with the "so what?" test:

<strong>Engagement and stimulation fuel the advancing web. So what?</strong>
The web is advancing. If you are not engaging and stimulating your visitors, you are not a part of the advancedment. Your products or services may be perceived as outdated.

<strong>We have the expertise required to deliver an engaging user experience that visitors now expect. So what?</strong>
Not only have we identified the fact that visitors now expect a superior web experience, we've assured the visitor that we can handle these demands.

<strong>...keeping them on your site, and off your competitor's. So what?</strong>
This is the bottom line. Losing a customer to a competitor is devastating. We'll help you avoid such a tragic event by making an engaging website that gives them no reason to check out the websites of your competition. 


<h2>Avoid Passive Voice Like the Plague</h2>
"To be verbs" describes usage of the words am, is, are, was, were, be, being, been. While these words find themselves used in every day dialect, they can decrease the quality of your web copy when combined with past participles such as "I had ran," and  "I have been running". How so? Passive voice leads to weak, timid, indirect phrasing. One can usually avoid passive voice by slightly altering the tence and the sentence structure. 

For example, consider the following sentence:
"Our web design has been bringing in more clients than before,"
compared to
"Our web design brings in more clients than before."

This sentence, though extremely similar, implies a stronger degree of action. When you have revised your copy to eliminate as many occurances of passive voice as possible, the subtleties accumulate, leading to a more enjoyable, descriptive read.

For further reading on passive voice, do not miss out on this <a href="http://www.unc.edu/depts/wcweb/handouts/passivevoice.html">amazing explanation</a>. 

<h2>Convince the Scanner to STOP and Read</h2>
People who frequently read online usually skim documents based on headlines. However, this places us in a bind. Headlines cannot convert visitors into customers/subscribers on their own, simply because headlines do not contain enough information to effectively pursuade. However, a kick-ass headline can easily grab the attention of someone merely skimming the surface of your content. <a href="http://www.copyblogger.com/10-sure-fire-headline-formulas-that-work/">Effective headline writing</a> greatly increases the chances your visitors will digest the valuable information you have created for them.

Creating great web copy takes time and <em>tons</em> of practice. But don't worry! By adhering to these simple principles, as well as keeping up with the copywriting blog <a href="http://www.copyblogger.com">Copyblogger</a>, you can dramatically increase the effectiveness of your content.
{% endblock post %}

