{% extends "templates/post.html" %}
{% block post %}

<a href="http://assets.vertstudios.com/downloads/physxcudart_20.zip">Download physxcudart_20.dll</a> (ZIP File)

<h2>When Would you Need this DLL?</h2>
Some games, such as <strong>Borderlands</strong> require this dll file. Without it, your game might not even start.

<h2>Where to place this DLL on your system?</h2>
To keep things simple, you can just extract the dll to c:\windows\system32. 

<h2>Why Bother Posting This?</h2>
<h3>physxcudart_20.dll not found</h3>

I recently purchased Borderlands for PC, but would receive the error message "<strong>physxcudart_20.dll not found</strong>". Reinstalling the program and reinstalling the latest nVidia drivers did not correct the issue, so I sought after the dll file. After sifting through tons of sites with fake Download buttons (that were actually just ads), I finally found the file. 

<a href="http://assets.vertstudios.com/downloads/physxcudart_20.zip">Download physxcudart_20.dll</a> (ZIP File)
{% endblock post %}

